<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microwu.cxd.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.microwu.cxd.domain.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result property="mobile" column="mobile"/>
        <result property="nickname" column="nickname"/>
        <result property="roles" column="roles"/>
    </resultMap>

    <resultMap id="permissionResultMap" type="com.microwu.cxd.domain.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
    </resultMap>

    <select id="getByUsername" resultMap="userResultMap">
        select * from user where username = #{username}
    </select>

    <insert id="insert" parameterType="com.microwu.cxd.domain.User">
        insert into user (username, password, nickname) values (#{username}, #{password}, #{nickname})
    </insert>

    <select id="getPermissions" resultMap="permissionResultMap">
        select * from permission where id = #{id}
    </select>

    <select id="getByMobile" resultMap="userResultMap">
        select * from user where mobile = #{mobile}
    </select>

</mapper>